Package: com.degrager.minimalls
Name: MinimalLS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Compatible with iOS 10, Hide the Page Dots and Press to Unlock Text on LS
Maintainer: Degrager
Author: Degrager
Section: Tweaks
Version: 1.0
Installed-Size: 168
